*{
    font-family: fantasy;
    box-sizing: border-box;
}
.card1,.card2{
    height: 200px;
    width: 200px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
}
.card1{
    border: 5px solid black;
    background-color: brown;
}
.card2{
    border: 5px ridge green;
    background-color: aquamarine;
    font-family: monospace;
    color: white;
}
button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: large;
}